/* Center the whole container */
/* https://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically */
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Make all of the fonts the same */
.title, p, label, input {
    font-family: 'Noto Sans JP', sans-serif;
    color: #4F3B38;
    display: block;
}

/* Link Styling */
a {
    text-decoration: none;
    color: #9C6F69;
}

/* mouse over link */
a:hover {
    font-weight: bold;
}

.title {
    width: 100%;
    margin: auto;
    font-size: 0.7em;
    text-align: center;
}

label {
    display: block;
    font-size: 0.9em;
    padding-bottom: 15px;
    padding-top: 10px;
}

p {
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    padding-top: 8px;
}

input {
    width: 450px;
    border-radius: 25px;
    border: 1px solid #9C6F69;
    padding: 4px;
}

/* https://stackoverflow.com/questions/11497094/remove-border-from-buttons */

.button {
    width: 460px;
    background: #9C6F69;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 5px;
}