/* Center the whole container */
/* https://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically */
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Make all of the fonts the same */
.title, p, label, input {
    font-family: 'Noto Sans JP', sans-serif;
    color: #3D405B;
    display: block;
}

/* Link Styling */
a {
    text-decoration: none;
    color: #E07A5F;
}

/* mouse over link */
a:hover {
    font-weight: bold;
}

.title {
    width: 100%;
    margin: auto;
    font-size: 0.7em;
    text-align: center;
}

label {
    display: block;
    font-size: 0.9em;
    padding-bottom: 15px;
    padding-top: 10px;
}

p {
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    padding-top: 8px;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_form_focus2 */
.login-bar {
    display: block;
    padding: 0.375em 0.75em;
    width: 450px;
    border-radius: 25px;
    border: 1px solid #E07A5F;
    background-clip: padding-box;
}

/* https://stackoverflow.com/questions/11497094/remove-border-from-buttons */

.button {
    width: 472.5px;
    height: 32.5px;
    background: #E07A5F;
    border-radius: 25px;
    border: none;
    color: #fff;
    padding: 5px;
}

.error {
    display: block;
    color: darkred;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 5px;
    font-size: 0.9em;
}

#button-column {
    width: 1em;
}