<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BudgetApp</title>

    <!--CSS for bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <!--Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    <!--  Bootstrap CSS override stylesheet  -->
    <link rel="stylesheet" href="/css/custom.css" />
</head>

<body>
    <!--Page navigation-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BudgetApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li th:if="${accounts != null}" th:each="account: ${accounts}" class="nav-item">
                        <a class="nav-link"
                            th:classappend="${account.getName() == currentAccount.getName() ? 'active' : ''}"
                            th:href="@{'/account/'+${account.getId()}}" th:text="${account.getName()}" />
                    </li>
                    <button class="btn btn-outline-success" type="submit" id="addAccountButton" data-bs-toggle="modal"
                        data-bs-target="#addAccountModal"><i class="bi bi-wallet"></i>
                        Add
                    </button>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" th:text="'Hi, '+${currentUser.username}">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                    data-bs-target="#updateUsernameModal">Update Username</a></li>
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                    data-bs-target="#updatePasswordModal">Update Password</a></li>

                            <form th:action="@{/logout}" method="POST">
                                <li>
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </li>
                            </form>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div th:if="${messages}">
            <div th:each="message : ${messages}" class="alert alert-primary" th:text="${message}">
            </div>
        </div>
        <!--Transaction table-->
        <table class="table">
            <thead>
                <th>Transaction Name</th>
                <th>To/From</th>
                <th>Price</th>
                <th id="button-column"></th>
            </thead>
            <tbody>
                <!--A single transaction-->
                <tr th:each="transaction: ${currentAccount.getTransactions()}">
                    <td th:text="${transaction.getName()}"></td>
                    <td th:text="${transaction.getToFrom()}"></td>
                    <td style="text-align: left"
                        th:text="${#numbers.formatDecimal(transaction.getAmountInDollars(), 0, 'COMMA', 2, 'POINT')}"
                        th:classappend="${transaction.getAmountInDollars()<0} ? text-danger : text-success">
                    </td>
                    </td>
                    <td>
                        <!--Transaction deletion button-->
                        <button class="btn_custom btn-danger" th:data-transaction-id="${transaction.getId()}"
                            onclick="confirmDeleteTransaction(this.getAttribute('data-transaction-id'))">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                </tr>
                <!--A Price Section-->
                <tr id=table-custom>
                    <td>Account Total</td>
                    <td></td>
                    <td style="text-align: left"
                        th:text="${#numbers.formatDecimal(currentAccount.getBalanceInDollars(), 0, 'COMMA', 2, 'POINT' )}"
                        th:classappend=" ${currentAccount.getBalanceInDollars()<0} ? text-danger : text-success">
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex d-flex-row justify-content-between">
            <!--Transaction creation button-->
            <button type="button" class="btn btn-custom btn-primary" data-bs-toggle="modal"
                data-bs-target="#newTransactionModal">
                New Transaction
            </button>

            <!--Transfer creation button-->
            <button type="button" class="btn btn-custom btn-secondary" data-bs-toggle="modal"
                data-bs-target="#newTransferModal">
                New Transfer
            </button>

            <!--Account deletion button-->
            <button class="btn btn-custom btn-danger" th:data-account-id="${currentAccount.getId()}"
                onclick="confirmDeleteAccount(this.getAttribute('data-account-id'))"
                th:text="'Delete Account: '+${currentAccount.getName()}">
            </button>
        </div>
    </div>

    <!--Modal for transaction creation form-->
    <div class="modal fade" id="newTransactionModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New Transaction</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="newTransaction" action="#" th:action="@{/add-transaction}"
                        th:object="${newTransactionForm}" method="POST">
                        <label for="newTransaction">Transaction Name</label>
                        <input type="text" value="0" class="mb-2 form-control" id="newName" th:field="*{name}" />
                        <label for="newTransaction">Transaction Amount</label>
                        <input type="number" min="0" step=".01" max="1000000" class="mb-2 form-control" id="newAmount"
                            th:field="*{amountInDollars}" />
                        <label for="newTransaction">From Where?</label>
                        <input type="text" value="0" class="mb-2 form-control" id="newToFrom" th:field="*{toFrom}" />
                        <input type="number" class="mb-2 form-control" id="accountOrigin" hidden aria-hidden
                            name="accountId" th:value="${currentAccount.getId()}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="type" value="income" class="btn btn-success"
                        form="newTransaction">Income
                    </button>
                    <button type="submit" name="type" value="expense" class="btn btn-danger"
                        form="newTransaction">Expense
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal for transfer creation form-->
    <div class="modal fade" id="newTransferModal" tabindex="-1" aria-labelledby="transferModalButton"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newTransferModal">New Transfer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="newTransferForm" action="#" th:action="@{/add-transfer}" th:object="${newTransferForm}"
                        method="POST">
                        <label for="toAccount">Account to Transfer To</label>
                        <select class="mb-2 form-control" name="toAccountId">
                            <option th:each="account: ${accounts}"
                                th:if="${account.getId()} != ${currentAccount.getId()} " class="nav-item"
                                th:value="${account.getId()}" th:text="${account.getName()}">
                            </option>
                        </select>
                        <input type="number" class="mb-2 form-control" id="accountOrigin" hidden aria-hidden
                            name="fromAccountId" th:value="${currentAccount.getId()}" />
                        <label for="newAccountBalance">Transfer Amount</label>
                        <input type="number" value="0" min="0" max="1000000" class="mb-2 form-control"
                            id="newAccountBalance" th:field="*{transferAmountInDollars}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="newTransferForm">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal for account creation form-->
    <div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalButton"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Account</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="newAccountForm" action="#" th:action="@{/add-account}" th:object="${newAccountForm}"
                        method="POST">
                        <label for="newAccountName">Account Name</label>
                        <input type="text" class="mb-2 form-control" id="newAccountName" th:field="*{accountName}" />
                        <label for="newAccountBalance">Starting Balance</label>
                        <input type="number" value="0" min="0" max="1000000" class="mb-2 form-control"
                            id="newAccountBalance" th:field="*{accountBalance}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="newAccountForm">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Modal to confirm the user wants to delete a transaction-->
    <div id="transactionDeletionConfirmationModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this transaction?
                </div>
                <div class="modal-footer">
                    <form id="deleteTransactionForm" th:object="${deleteTransactionForm}"
                        th:action="@{/delete-transaction}" method="post">
                        <input id="transactionDeletionModalTransactionId" type="number" hidden name="transactionId" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!--Modal to confirm the user wants to delete an account-->
    <div id="accountDeletionConfirmationModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this account <i>and all of it' s transactions</i>?
                </div>
                <div class="modal-footer">
                    <form id="deleteAccountForm" th:object="${deleteAccountForm}" th:action="@{/delete-account}"
                        method="post">
                        <input id="accountDeletionModalAccountId" type="number" hidden name="accountId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--  Update Username Modal  -->
    <div id="updateUsernameModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Username</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateUsernameForm" th:object="${updateUsernameForm}" th:action="@{/update-username}"
                        method="post">
                        <label for="newTransaction">New Username</label>
                        <input type="text" value="0" class="mb-2 form-control" id="newUsername"
                            th:field="*{newUsername}" />
                        <label for="newTransaction">Confirm Password</label>
                        <input type="password" value="0" class="mb-2 form-control" id="confirmPassword"
                            th:field="*{confirmPassword}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="updateUsernameForm" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <!--  Update Password Modal  -->
    <div id="updatePasswordModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updatePasswordForm" th:object="${updatePasswordForm}" th:action="@{/update-password}"
                        method="post">
                        <label for="newTransaction">Old Password</label>
                        <input type="password" value="0" class="mb-2 form-control" id="oldPassword"
                            th:field="*{oldPassword}" />
                        <label for="newTransaction">New Password</label>
                        <input type="password" value="0" class="mb-2 form-control" id="newPassword"
                            th:field="*{newPassword}" />
                        <label for="newTransaction">Confirm Password</label>
                        <input type="password" value="0" class="mb-2 form-control" id="newConfirm"
                            th:field="*{newConfirm}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="updatePasswordForm" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--  Update Username Modal  -->
    <div id="updateUsernameModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Username</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateUsernameForm" th:object="${updateUsernameForm}" th:action="@{/update-username}"
                        method="post">
                        <label for="newTransaction">New Username</label>
                        <input type="text" value="0" class="mb-2 form-control" id="newUsername"
                            th:field="*{newUsername}" />
                        <label for="newTransaction">Confirm Password</label>
                        <input type="password" value="0" class="mb-2 form-control" id="confirmPassword"
                            th:field="*{confirmPassword}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="updateUsernameForm" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <!--  Update Password Modal  -->
    <div id="updatePasswordModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updatePasswordForm" th:object="${updatePasswordForm}" th:action="@{/update-password}"
                        method="post">
                        <label for="newTransaction">Old Password</label>
                        <input type="password" value="0" class="mb-2 form-control" id="oldPassword"
                            th:field="*{oldPassword}" />
                        <label for="newTransaction">New Password</label>
                        <input type="password" value="0" class="mb-2 form-control" id="newPassword"
                            th:field="*{newPassword}" />
                        <label for="newTransaction">Confirm Password</label>
                        <input type="password" value="0" class="mb-2 form-control" id="newConfirm"
                            th:field="*{newConfirm}" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="updatePasswordForm" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!--Import bootstrap code-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script>
        // Using this javascript instead of the built-in modal toggling functionality because we need to know
        // *which* account/transaction we're trying to delete
        function confirmDeleteTransaction(transactionId) {
            document.getElementById("transactionDeletionModalTransactionId").value = transactionId;
            new bootstrap.Modal(document.getElementById('transactionDeletionConfirmationModal')).show();
        }
        function confirmDeleteAccount(accountId) {
            document.getElementById("accountDeletionModalAccountId").value = accountId;
            new bootstrap.Modal(document.getElementById('accountDeletionConfirmationModal')).show();
        }


        window.onload = function () {
            var messages = document.querySelectorAll('.alert');
            setTimeout(function () {
                messages.forEach(function (message) {
                    message.style.display = 'none';
                });
            }, 5000); // Change this to the number of milliseconds you want to wait before the messages disappear
        };

    </script>
</body>

</html>