<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BankApp Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
<div class="login">
    <div class="title">
        <h1>Create an Account</h1>
    </div>
    <form action="">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
        <label for="confirm">Confirm Password:</label>
        <input type="text" id="confirm" name="confirm"><br><br>
        <input class="button" type="submit" value="Register">
    </form>
    <p>Have an account? <a href="/login">
        <bold>Login</bold>
    </a></p>
</div>
</body>
</html>