<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BankApp Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
<div class="login">
    <div class="title">
        <h1>Welcome Back!</h1>
    </div>
    <form action="">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/loginNew">
        <bold>Register</bold>
    </a></p>
</div>
</body>
</html>