<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BankApp Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
<div class="login">
    <div class="title">
        <h1>Create an Account</h1>
    </div>
    <form action="#" th:action="@{/loginNew}" th:object="${NewLoginForm}" method="post">
        <span th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global Errors</span>
        <label for="fullName">Full Name:</label>
        <input type="text" th:field="*{fullName}" id="fullName" name="fullName" required>
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}" id="username" name="username" required>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username must be longer than 6 characters</p>
        <label for="email">Email:</label>
        <input type="email" th:field="*{email}" id="email" name="email" required>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid Email</p>
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password" name="password" required>
        <label for="confirm">Confirm Password:</label>
        <input type="password" th:field="*{confirm}" id="confirm" name="confirm" required><br><br>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Passwords must match</p>
        <input class="button" type="submit" value="Register">
    </form>
    <p>Have an account? <a href="/login">
        <bold>Login</bold>
    </a></p>
</div>
</body>
</html>