<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BankApp Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>
<div class="login">
    <div class="title">
        <h1>Welcome to Budgetix!</h1>
    </div>
    <form action="#" class="error" th:action="@{/login}" th:object="${loginForm}" method="post">
        <!-- Tells the user if their login attempt failed -->
        <!--    https://docs.spring.io/spring-security/reference/servlet/authentication/passwords/form.html    -->
        <div th:if="${param.error}">
            Invalid username or password</div>
        <label for="username">Username:</label>
        <input class="login-bar" type="text" th:field="*{username}" id="username" name="username" required>
        <label for="password">Password:</label>
        <input class="login-bar" type="password" th:field="*{password}" id="password" name="password" required><br><br>
        <input class="button" type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/loginNew">
        <bold>Register</bold>
    </a></p>
</div>
</body>
</html>