/* Center the whole container */
/* https://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically */
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}